@import "./../../variables.scss";

.screenFrame {
  @include screenFrameDimensions();
  @include generalTransition();
  position: relative;
  display: flex;
  flex: 1;
  background-color: #000;
  border-color: #000000;
  border-style: solid;
  overflow: hidden;
}

.screenFrameNoComputer {
  border-radius: 0;
}