.cameraWrap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 20px;
  background-color: black;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.camera {
}
