@import "./../../variables.scss";

.cameraWrap {
  @include cameraWrapDimensions();
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.camera {
  @include cameraDimensions();
  background-color: #777;
}
